{% extends "layout.html" %}

{% block content %}
<h1>History page</h1>
<table border=1>
    <tr>
        <td>
            Data:
        </td>
        <td>
            Typ operacji:
        </td>
        <td>
            Nazwa towaru:
        </td>
        <td>
            Sztuk:
        </td>
        <td>
            Cena:
        </td>
        <tr>
            {% for key, val in history.items() %}
            <td>
                {{ key }}
            </td>
            <td>
                {% for op, val in val.items() %}
                    {{ op }}
            </td>
            <td>
                    {% for item, quantity_prize in val.items() %}
                        {{ item }}
            </td>
            <td>
                        {{ quantity_prize[1] }}
            </td>
            <td>
                        {{ quantity_prize[0] }} PLN
            </td>
                    {% endfor %}
                {% endfor %}
        </tr>
            {% endfor %}
    </tr>
</table>
{% endblock %}