{% extends "layout.html" %}

{% block content %}
<h1>Accountant</h1>
<table border=1>
    <tr>
        <td>
            Saldo:
        </td>
        <td>
            {{ saldo }} PLN
        </td>
    </tr>
</table>

<h1>Magazyn</h1>
<table border=1>
    <tr>
        <td>
            <p>Nazwa
        </td>
        <td>
            <p>Sztuk
        </td>
    </tr>
    {% for key, value in magazyn.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
</table>

<!-- form content -->
<hr>
<form method="post" action="">
    <label for="accountent">Wybierz rodzaj operacji:</label>
    <select id="accountent" name="accountent">
        <option name="operation_type" value="sale">sprzedaż</option>
        <option name="operation_type" value="purchase">zakup</option>
    </select>
    <p>
    <label for="name">Nazwa:</label>
    <input type="text" id="name" name="name">

    <label for="sztuk">Sztuk:</label>
    <input type="number" id="quantity" name="quantity" maxlength="4" size="2">

    <label for="cena">Cena:</label>
    <input type="number" id="prize" name="prize" min=0><br><br>

    <input type="submit" value="zatwierdź">
</form>

<hr>

<form method="post" action="">
<label for="saldo_change">Zmiana salda:</label>
<input type="hidden" name="saldo_change" value="saldo_change"/>
<input type="number" name="new_saldo" value=0 min=0>
<label for="saldo_check">Potwierdź:</label>
<input type="checkbox" name="saldo_check"><br><br>
<input type="submit" value="zatwierdź">
</form>

{% endblock %}