<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- CSS only -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <title>{{ title }}</title>
</head>
<body>
    <header>
        {% include'menu.html' %}
    </header>
    {% block content %}
        content.html
    {% endblock %}

</body>
</html>
